assets/*
_ss_environment.php
tools/phing-metadata
silverstripe-cache
.buildpath
.project
.settings
.idea
.DS_Store
/cms/
/email-helpers/
/googlemapfield/
/gridfieldextensions/
/framework/
/hasonefield/
/listsorter/
/omnipay/
/reports/
/silvershop/
/silvershop-discounts/
/silvershop-geocoding/
/silvershop-shipping/
/siteconfig/
/sqlquerylist/
/subsites/
/vendor/
/versioned-gridfield/
